<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Permiso para la ubicación aproximada (red) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Permiso para la ubicacion en segundo plano -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Permiso para usar Geocoder -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduTrack"
        tools:targetApi="31">
        <activity
            android:name=".Anio.AnioActivity"
            android:exported="false"
            android:label="@string/title_activity_anio"
            android:theme="@style/Theme.EduTrack" />
        <activity
            android:name=".navigation.NavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.EduTrack" />
        <activity
            android:name=".Inicio.InicioActivity"
            android:exported="false"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.EduTrack" />
        <activity
            android:name=".Registro.signup.RegistrarUsuarioActivity"
            android:exported="false"
            android:label="@string/title_activity_registrar_usuario"
            android:theme="@style/Theme.EduTrack" />
        <activity
            android:name=".Registro.Registros.RegistroActivity"
            android:exported="false"
            android:label="@string/title_activity_registro"
            android:theme="@style/Theme.EduTrack" />
        <activity
            android:name=".Splash.EduTrack"
            android:exported="true"
            android:label="@string/title_activity_splash_screem"
            android:theme="@style/Theme.EduTrack">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>